{% extends "base.html" %}
{% load i18n %}
	{% block titulo %}Mis Datos{% endblock %}
	{% block content_title %} Mis datos {% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Mis Datos</a>						
	</li>		
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<div class="row">
            <div class="col-md-12">
								<div class="portlet light bg-inverse form-fit">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-equalizer font-blue"></i>
											<span class="caption-subject font-blue bold uppercase">Actualizar mis datos</span>																						
										</div>										
									</div>
									<div class="portlet-body form"><div class="g12">
										{% if form.errors %}
										<div class="alert alert-danger display-hide" style="display: block;">
										<button class="close" data-close="alert"></button>
										{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
										</div>
										{% endif %}
										<form action="" class="form-horizontal form-row-seperated" autocomplete="off"  method="post">
											{% if perfil.cliente %}
											<div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">Cliente</label>
												<div class="col-md-9">
													<p class="form-control-static">
														{{perfil.cliente}}
													</p>													
												</div>
											</div>
											{% endif %}
											<div class="form-group {% if form.old_password.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">Usuario</label>
												<div class="col-md-9">
													<p class="form-control-static">
													{{ form.username.value|default_if_none:"" }}
													</p>													
												</div>
											</div>
											<div class="form-group {% if form.email.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">{{form.email.label}}<span class="required" aria-required="true"> * </span></label>
												<div class="col-md-9">
													{{form.email}}
													{% if form.email.errors %}<span class="help-block">{{form.email.errors}}</span>{% endif %}
												</div>
											</div>
											<div class="form-group {% if form.email.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">{{form.first_name.label}}<span class="required" aria-required="true"> * </span></label>
												<div class="col-md-9">
													{{form.first_name}}
													{% if form.first_name.errors %}<span class="help-block">{{form.first_name.errors}}</span>{% endif %}
												</div>
											</div>
											<div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">Apellido Paterno<span class="required" aria-required="true"> * </span></label>
												<div class="col-md-9">
													{{form.last_name}}
													{% if form.last_name.errors %}<span class="help-block">{{form.last_name.errors}}</span>{% endif %}
												</div>
											</div>
											<div class="form-group {% if form2.apellido_materno.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">{{form2.apellido_materno.label}}</label>
												<div class="col-md-9">
													{{form2.apellido_materno}}
													{% if form2.apellido_materno.errors %}<span class="help-block">{{form2.apellido_materno.errors}}</span>{% endif %}
												</div>
											</div>
											<div class="form-group {% if form2.telefono.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">{{form2.telefono.label}}</label>
												<div class="col-md-9">
													{{form2.telefono}}
													{% if form2.telefono.errors %}<span class="help-block">{{form2.telefono.errors}}</span>{% endif %}
												</div>
											</div>
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-offset-3 col-md-9">
													<button type="submit" class="btn blue"><i class="fa fa-pencil"></i> Actualizar datos</button>														
												</div>
											</div>
										</div>
									</form>
							<!-- END FORM-->
									</div>
								</div>
            </div>
         </div>		
{% endblock %}