{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_pagination %}

{% block title %}Lista de Movimientos {% endblock %}
{% block content_title %} Reporte de Incidencias Unidades{% endblock %}

{% block nav-catalogos %}<li class="active open">{% endblock %}
{% block nav-movInv %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Incidentes</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Lista</a>							
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
		<div class="row">
            <div class="col-md-12">
				<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div id="principal" class="caption">
								Status de Unidades
							</div>							
						</div>
						<div class="portlet-body">
							
							<div class="table-scrollable">
							<table class="table table-striped table-bordered table-hover" id="sample_1">
							<thead>
							<tr>
								<th>
									Usuario
								</th>
								<th>
									 Reporta 
								</th>
								<th>
									 Daño
								</th>
								<th>
									 Evidencia 1
								</th>
								<th>
									 Evidencia 2
								</th>
								<th>
									 Evidencia 3
								</th>
								<th>
									 Evidencia 4 
								</th>
								<th>
									 Fecha
								</th>
								<th>
									 Observaciones
								</th>
								<th>
									Status
								</th>
								<th>
									Imprimir Incidente
								</th>
								<th>
									Atender
								</th>
								<th>
									 Crear 
								</th>				
							</tr>
							</thead>
							<tbody>
							{% for incidentes in incidente %}
							<!--<tr class="odd gradeX">-->
							<tr class="odd gradeX {{movimiento.get_tipo_display}}">
								<td>
									{{incidentes.usuario}}
								</td>
								<td>
									{{incidentes.reporta}}
								</td>
								<td>
									{{incidentes.dano}}
								</td>
								<td>
									{{incidentes.imagen1}}
									<img class="foto" src="{{MEDIA_URL}}{{incidentes.imagen1}}" width="250" height="250" style="visibility:{{fotosFlag}}">
								</td>
								<td>
									{{incidentes.imagen2}}
									<img class="foto" src="{{MEDIA_URL}}{{incidentes.imagen2}}" width="250" height="250" style="visibility:{{fotosFlag}}">
								</td>
								<td>
									{{incidentes.imagen3}}
									<img class="foto" src="{{MEDIA_URL}}{{incidentes.imagen3}}" width="250" height="250" style="visibility:{{fotosFlag}}">
								</td>
								<td>
									{{incidentes.imagen4}}
									<img class="foto" src="{{MEDIA_URL}}{{incidentes.imagen4}}" width="250" height="250" style="visibility:{{fotosFlag}}">
								</td>
								<td>
									{{incidentes.fecha}}
								</td>
								<td>
									{{incidentes.obs}}
								</td>
								<td>
									{{incidentes.get_status_display}}
								</td>
								<td>
									<a href="{% url 'incidente' incidentes.pk %}" target="_blank">
															<i class="fa fa-file-pdf-o"></i>
															Reporte Incidente </a>
								</td>
								 <td>
								{% ifequal incidentes.status 1 %}
								<br>
								<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 4 %}" class="btn default  blue-stripe">
												Autorizar</a>
								<p>Hacer clic</p>
								<p>No puede hacer clic</p>
								<br>
								<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 6 %}" class="btn default  red-stripe">
												Rechazar </a>
								{% else %}
								<br>
								<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 4 %}" class="btn default  blue-stripe" disabled>Autorizar</a>
								<br>
								<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 6 %}" class="btn default  red-stripe" disabled>
												Rechazar </a>
						    	{%endifequal%}
								</td>

								{% if incidentes.status == 4 %} <!-- 4 es autorizado -->
								<td>
											<br>
												<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 2 %}" class="btn default blue-stripe">Solicitud</a>
											<br>
											<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 3 %}" class="btn default  blue-stripe">
												Movimiento </a>
								</td>
								{% elif incidentes.status == 2 %} <!-- 2 es Solicitado -->
								<td>
											<br>
												<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 2 %}" class="btn default blue-stripe" disabled >Solicitud</a>
											<br> 
											<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 3 %}" class="btn default red-stripe" >
												<!--<a href="{% url 'catalogos.views.movUnidad' %}" class="btn default btn-xs red-stripe" > -->
												Movimiento </a>
								</td>
								{% elif incidentes.status == 6 or incidentes.status == 3 or incidentes.status == 1 %}
								<td>
											<br>
												<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 2 %}" class="btn default  blue-stripe" disabled >Solicitud</a>
											<br> 
											<a href="{% url 'viajes.views.statusIncidente' incidentes.pk 3 %}" class="btn deafult  red-stripe" disabled>
												Movimiento </a>
								</td>
								{% endif %}							
							</tr>
							{% endfor %}
														
							</tbody>
							</table>
							{% bootstrap_paginate incidente %}
							</div>
						</div>
					</div>					
            </div>
         </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}plugins/select2/select2.js"></script>
<script src="{{MEDIA_URL}}plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL }}javascript-settings.js">
{% block script_ready %}
		function mostraralerta(){
			alert('hizo click!')};
		
		function hacerclic(){
			document.getElementsByTagName('p')[1].onclick=mostraralerta};

		window.onload=hacerclic;

{% endblock %}
</script>





