{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{{action}} Unidades {% endblock %}
{% block content_title %} Movimiento de Unidades {% endblock %}

{% block nav-inventario %}<li class="active open">{% endblock %}
{% block nav-MovEconomicos %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Economicos</a>
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="{% url 'inventario.views.productoadd' %}">Economicos</a>
		<i class="fa fa-angle-right"></i>						
	</li>
	<li>
		<a href="#">{{action}}</a>
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
		<div class="row">
            <div class="col-md-12">
								<div class="portlet light bg-inverse form-fit">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-equalizer font-blue"></i>
											<span class="caption-subject font-blue bold uppercase">{{action}} Movimiento</span>
										</div>										
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form action="" class="form-horizontal form-row-seperated" method="post" enctype="multipart/form-data">
											{% csrf_token %}
 {% for upload in queryset %}
            <li>{{ upload.imagen }}</li>
 {% endfor %}
											<div class="form-body">
											
												<!--<div class="form-group {% if form.fecha.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">Fecha:<span class="required" aria-required="true"> * </span></label>
												<div class="col-md-9">
													<div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
														{{form.fechai}}
														<span class="input-group-btn">
														  <button class="btn blue" type="button">
														       <i class="fa fa-calendar"></i>
														  </button>
														</span>
													 </div>
														{% if form.fechai.errors %}<span class="help-block">{{form.fechai.errors}}</span >{% endif %}
													</div >-->
													<div class="form-group {% if form.direccion.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">Nombre:</label>
													<div class="col-md-9">
															{{user}}
													</div>
												</div>

													<!--<div class="form-group {% if form.direccion.errors %}has-error{% endif %}">
												<label class="control-label col-md-3">Imagen:<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.imagen1}}
														{% if form.imagen1.errors %}<span class="help-block">{{form.imagen1.errors}}</span>{% endif %}
													</div>
												</div>-->
												
												</div>		
												<div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">Reporta:<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.reporta}}
														{% if form.reporta.errors %}<span class="help-block">{{form.reporta.errors}}</span>{% endif %}
													</div>
												</div>								
												<div class="form-group {% if form.telefono_siniestros.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">Daño:<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.dano}}
														{% if form.dano.errors %}<span class="help-block">{{form.dano.errors}}</span>{% endif %}
													</div>
												</div>
												<div class="form-group {% if form.telefono_siniestros.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">Observaciones: <span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.obs}}
														{% if form.obs.errors %}<span class="help-block">{{form.obs.errors}}</span>{% endif %}
													</div>
												</div>
											</div>
											</div>

											<span class="caption-subject font-blue bold uppercase">Para agregar o modificar fotos debe seleccionar  archivos en formato (.jpg) 
											</span>	
											<hr>
											<label class="control-label col-md-3">Foto 1:<span class="required" aria-required="true"> * </span></label>
											{{ formImagen.imagen1}}
											<hr>
											<label class="control-label col-md-3">Foto 2:<span class="required" aria-required="true"> * </span></label>
											{{ formImagen.imagen2 }}
											<hr>
											<label class="control-label col-md-3">Foto 3:<span class="required" aria-required="true"> * </span></label>
											{{ formImagen.imagen3 }}

											<hr>
											<label class="control-label col-md-3">Foto 4:<span class="required" aria-required="true"> * </span></label>
											{{ formImagen.imagen4 }}
											<div class="form-actions">
												<div class="row">
													<div class="col-md-offset-3 col-md-9">
													

											
											
											<div class="form-actions">
												<div class="row">
													<div class="col-md-offset-3 col-md-9">
														<button type="submit" class="btn blue"><i class="fa fa-pencil"></i> {{action}}</button>														
													</div>
												</div>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								</div>
            </div>
         </div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}plugins/select2/select2.js"></script>
<script src="{{MEDIA_URL}}plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
{% endblock %}

{% block script_ready %}
	$('.date-picker').datepicker({
        rtl: Metronic.isRTL(),
        orientation: "auto",
        autoclose: true        
    });
    
{% endblock %}

$(document).ready(function() {
$('#tablemissing').dataTable({
"bPaginate": true,
"bAutoWidth":false
});
$('#tablefailed').dataTable({
"bPaginate": true,
"bAutoWidth":false
});
nextpage();
function nextpage()
{
if($('#tablemissing_paginate').find('.paginate_disabled_next').length>0){
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
$('#tablemissing_previous').trigger('click');
}
else
$('#tablemissing_next').trigger('click');
if($('#tablefailed_paginate').find('.paginate_disabled_next').length>0){
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
$('#tablefailed_previous').trigger('click');
}
else
$('#tablefail_next').trigger('click');
setTimeout( function()
{
nextpage();
}, (60*1000));


}
} );

[/code]

