{% extends 'base.html' %}
{% load i18n %}
{% load sepomex_filters %}
{% load url from future %}
{% load bootstrap_pagination %}

{% block title %}Viajes{% endblock %}
{% block content_title %} Viajes por status{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}plugins/bootstrap-datepicker/css/datepicker3.css"/>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}plugins/select2/select2.css"/>
{% endblock %}

{% block nav-viajes %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Viajes</a>						
	</li>	
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
		<div class="modal fade" id="history" role="basic" aria-hidden="true">
			<div class="page-loading page-loading-boxed">
				<img src="{{MEDIA_URL}}img/loading-spinner-grey.gif" alt="" class="loading">
				<span>
				&nbsp;&nbsp;Cargando... </span>
			</div>
			<div class="modal-dialog">
				<div class="modal-content">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">					
					<!-- Begin: life time stats -->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-rocket"></i>Listado de viajes
							</div>
							<div class="actions">
								<a href="{% url 'viajes.views.carga' %}" class="btn default blue-stripe">
								<i class="fa fa-plus"></i>
								<span class="hidden-480">
								Cargar Historico </span>
								</a>
{% if perms.viajes.add_viaje %}
								<a href="{% url 'viajes.views.agregar' %}" class="btn default blue-stripe">
								<i class="fa fa-plus"></i>
								<span class="hidden-480">
								Nuevo Viaje </span>
								</a>
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Agregar.<br/> Solicite permisos al administrador.
								</div>
{% endif %}								

								

							</div>
						</div>						
						<div class="portlet-body">							
								<div class="row">
									<div class="col-md-12">										
									</div>
								</div>				
								<div class="table-responsive">				
								<table class="table table-striped table-bordered table-hover" id="datatable_ajax">
								<thead>
								<tr role="row" class="heading">
									<th width="10%">
										 Carta #
									</th>
									<th width="12%">
										 Fecha
									</th>
									<th width="10%">
										 Cliente
									</th>
									<th width="10%">
										 Destino
									</th>
									<th width="10%">
										 Bill/Load
									</th>
									<th width="18%">
										 Económico
									</th>
									<th width="20%">
										 Operador
									</th>
									<th width="10%">
										 Actions
									</th>
								</tr>
								<form action="" id="search-form" method="get">
								<tr role="row" class="filter">									
									<td>
										{{searchform.pk}}
										{{searchform.status}}
									</td>
									<td>
										<div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
											{{searchform.fecha_from}}
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
										<div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
											{{searchform.fecha_to}}
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</td>
									<td>
										{{searchform.cliente}}
										{{searchform.departamento}}
									</td>
									<td>
										{{searchform.destino}}
									</td>
									<td>										
										{{searchform.referencia}}										
									</td>
									<td>
										{{searchform.economico}}
									</td>
									<td>
										{{searchform.operador}}
									</td>
									<td>
										<div class="margin-bottom-5">
											<button type="submit" class="btn btn-sm blue filter-submit margin-bottom"><i class="fa fa-search"></i> Buscar</button>
										</div>
										
									</td>
								</tr>
								</form>
								</thead>
								<tbody>
									{% for viaje in viajes %}
									<tr>
										<td>
											<a href="{% url 'viajes.views.actualizar' viaje.workflowactivity.id %}">{{viaje.workflowactivity}}</a><br />
											<span class="label label-sm label-{% if viaje.state.pk == 1 %}warning{% elif viaje.state.pk == 8 %}success{% elif viaje.state.pk == 9 %}danger{% else %}info{% endif %} label-mini">{{viaje.state.name}}</span>		
										</td>
										<td>{{viaje.workflowactivity.fecha_salida|date:"d-m-Y"}}</td>
										<td>{{viaje.workflowactivity.cliente}} ({{viaje.workflowactivity.departamento}})</td>
										<td>
											<ul class="list-inline">
											{% for destino in viaje.workflowactivity.destino_set.all %}
												<li>{{destino.destino_clave_municipio|municipio}}</li>
											{% endfor %}
											</ul>
										</td>
										<td>{{viaje.workflowactivity.referencia|default_if_none:"N/D"}}</td>
										<td>{{viaje.workflowactivity.economico.pk}}</td>
										<td>{{viaje.workflowactivity.operador}}</td>
										<td>
											<div class="btn-group">
												<button class="btn btn-sm blue dropdown-toggle" type="button" data-toggle="dropdown">
												Acciones <i class="fa fa-angle-down"></i>
												</button>
												<ul class="dropdown-menu pull-right" role="menu">				
													<li>
														<a href="{% url 'carta_porte' viaje.workflowactivity.pk %}" target="_blank">
															<i class="fa fa-file-pdf-o"></i>
															Descargar carta porte 
														</a>
													</li>
													<li>
														<a href="{% url 'viajes.views.historial' viaje.workflowactivity.pk %}" data-target="#history" data-toggle="modal">
															<i class="fa fa-history"></i>
															Historial 
														</a>
													</li>
													<li>
														<a href="{% url 'viajes.views.cargaedit' viaje.workflowactivity.pk %}">
															<i class="fa fa-edit"></i>
															Editar Gastos 
														</a>
													</li>
												</ul>
											</div>			
										</td>
									</tr>
									{% empty %}
									<tr>
										<td colspan="9">No se encontrarón resultados</td>
									</tr>
									{% endfor %}
								</tbody>
								</table>
								{% bootstrap_paginate viajes %}
							</div>
						</div>
					</div>
					<!-- End: life time stats -->
				</div>								
			</div>		
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}plugins/select2/select2.js"></script>
<script src="{{MEDIA_URL}}plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
{% endblock %}


{% block script_ready %}
	$('.date-picker').datepicker({
        rtl: Metronic.isRTL(),
        orientation: "auto",
        autoclose: true        
    });
    
    function sepomexFormatResult(municipio) {            
    	return municipio.municipio+', '+municipio.estado;
    }

    function sepomexFormatSelection(municipio) {
        return municipio.municipio;
    }
    
    $('.select2').select2();
    $("#id_destino").select2({    	
    	minimumInputLength: 2,
    	allowClear: true,
        ajax: {   
        	url: '{% url 'sepomex.views.direccion' %}',
        	dataType: 'json',
                data: function(term, page) {

                    return {
                        term: term
                    };
                },
                results: function(data, page) {
                    return {
                        results: data
                    };
            }
        },
        initSelection: function(element, callback) {
	        var ids = $(element).val();	        
	        if (ids!=="") {
	            $.ajax("{% url 'sepomex.views.direccion_recupera_unico' %}", {
	                data: {
	                    ids: ids
	                },
	                dataType: "json"
	            }).done(function(data) { callback(data); });
	        }
	    },
		formatResult: sepomexFormatResult, // omitted for brevity, see the source of this page
        formatSelection: sepomexFormatSelection, // omitted for brevity, see the source of this page   	
	});			
{% endblock %}