{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_pagination %}

{% block title %}Catalogo de Empleados Vitesse{% endblock %}
{% block content_title %} Catálogo de Empleados{% endblock %}

{% block nav-RH %}<li class="active open">{% endblock %}
{% block nav-Empleados %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Empleados</a>							
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					Empleados
				</div>							
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">

								
								{% if perms.catalogos.add_economico %}
								<a href="{% url 'empleados.views.agregar' %}" class="btn blue">
									Agregar nuevo <i class="fa fa-plus"></i>
								</a>
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Agregar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">

						</div>
					</div>
				</div>
				<div class="table-scrollable">
					<table class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>
									No. Empleado
								</th>
								<th>
									Nombre
								</th>
								<th>
									Apellidop
								</th>
								<th>
									Apellidom
								</th>
								<th>
									Sexo
								</th>
								<th>
									Estado Civil
								</th>
								<th>
									Hijos 
								</th>
								<th>
									Tipo de Licencia
								</th>
								<th>
									escolaridad
								</th>
								<th>
								    Estado
								</th>
								<th>
									Editar
								</th>
								
								<th>
									Ver
								</th >
								<th>
									Generar
								</th>
								<th>
									Subir Foto
								</th>
								<th>
									Generar
								</th>
							</tr>
						</thead>
						<tbody>
							{% for empleado in emp %}
							<tr class="odd gradeX">
								<td>
									{{empleado.clave}}
								</td>
								<td>
									{{empleado.nombre}}
								</td>
								<td>
									{{empleado.apellidop}}
								</td>
								<td>
									{{empleado.apellidom}}
								</td>
								<td>
									{{empleado.get_sexo_display}}
								</td>
								<td>
									{{empleado.get_estadocivil_display}}
								</td>
								<td>
									{{empleado.hijos}}
								</td>
								<td>
									{{empleado.get_tipo_lic_display}}
								</td>
								<td>
									{{empleado.get_escolaridad_display}}
								</td>
								<td>
								    {{empleado.get_status_display}}
								</td>
								<td>
                                {% if perms.catalogos.change_economico %}
									<a href="{% url 'empleados.views.editar' empleado.pk %}" class="btn default btn-xs blue-stripe">Editar</a>
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Editar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %}
								</td>
								
								<td>

									<a href="{% url 'empleados.views.documentosEmpleado' empleado.pk %}" class="btn default btn-xs blue-stripe">Documentos</a>
								</td>
								<td>

									<!--<a href="{% url 'credencial' empleado.pk %}" class="btn default btn-xs blue-stripe">Credencial</a>-->
									<a href="{% url 'empleados.views.validaArchivos' empleado.clave %}" class="btn default btn-xs blue-stripe">Credencial</a>

								</td>
								<td>

									<a href="{% url 'empleados.views.fotosEmpleado' empleado.pk %}" class="btn default btn-xs blue-stripe">Cargar Fotos</a>
								</td>
								<td>
									<a href="{% url 'empleados.views.generaPdfEmpleado' empleado.pk %}" class="btn default btn-xs blue-stripe">Expediente Pdf</a>
								</td>
								
							</tr>
							{% endfor %}							
						</tbody>
					</table>
					{% bootstrap_paginate emp %}
				</div>
			</div>
		</div>					
	</div>
</div>
{% endblock %}