{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_pagination %}

{% block title %}Catalogo de Puestos{% endblock %}
{% block content_title %} Catalogo de Puestos{% endblock %}

{% block nav-RH %}<li class="active open">{% endblock %}
{% block nav-Puestos %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Empleados</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Catalogo de Puestos</a>
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					Puestos Disponibles
				</div>							
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								
								{% if perms.catalogos.add_aseguradoras %}
								<a href="{% url 'empleados.views.puesto_add' %}" class="btn blue">
									Agregar Puesto <i class="fa fa-plus"></i>
								</a> 
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Agregar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %} 
                            </div>
						</div>
						<div class="col-md-6">

						</div>
					</div>
				</div>
				<div class="table-scrollable">
					<table class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>
									Folio
								</th>
								<th>
									Puesto
								</th>
								<th>
									Descripcion
								</th>
								<th>
									Editar
								</th>
								<th>
									Eliminar
								</th>
							</tr>
						</thead>
						<tbody>
							{% for pue in puestos %}
							<tr class="odd gradeX">
							    <td>{{pue.pk}}</td>
								<td>
									{{pue.nombre}}
								</td<<>
								<td>
									{{pue.descripcion}}
								</td>
				<td>
								{% if perms.catalogos.change_aseguradoras %}
									<a href="{% url 'empleados.views.puesto_edit' pue.pk %}" class="btn default btn-xs blue-stripe">Editar</a> 
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Editar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %}	
								</td>
								<td>
								{% if perms.catalogos.delete_aseguradoras %}
									<a href="{% url 'empleados.views.puesto_del' pue.pk %}" onclick="return confirm('Seguro que desea eliminar el Documento {{doc.nombreDoc}}?')" class="btn default btn-xs red-stripe">Eliminar</a>
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Eliminar.<br/> Solicite permisos al administrador.
								</div>						
						
								{% endif %}
								</td>
							</tr>
							{% endfor %}							
						</tbody>
					</table>
					{% bootstrap_paginate puestos %}
				</div>
			</div>
		</div>					
	</div>
</div>
{% endblock %}