{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load i18n humanize %}

{% block title %}{{action}} Solicitud de Empleo{% endblock %}
{% block content_title %} Solicitud de Empleo {% endblock %}

{% block nav-sol2 %}<li class="active">{% endblock %} <!-- se debe definir en Base.html para que se seleccione--> 
	
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}plugins/bootstrap-datepicker/css/datepicker3.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}plugins/select2/select2.css"/>

{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>
		<i class="fa fa-archive"></i>		
		<a href="#">Recursos Humanos</a>	<!-- Esto se cambia con la vista de la aplicacion actual, que debe tener la classe Index-->
		<i class="fa fa-angle-right"></i>					
	</li>	
	<li>
		<i class="fa fa-pencil-square-o"></i>
		<a href="#">Solicitud de Empleo</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}
{% block content %}

	
  	<form action="" class="form-horizontal form-row-seperated" method="post">
	
										{% csrf_token %}


<br/><h3>



											<span class="caption-subject font-blue bold uppercase">CONOCIMIENTOS GENERALES
											</span>
											<br/><br/><hr/>

<div class="col-lg-6">
						<div class="form-group {% if formConocimientosForm.idiomas.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">Idiomas que domina:<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														<p hidden>{{ formConocimientosForm.idsolicitante }}</p>
														{{formConocimientosForm.idiomas}}
														{% if formConocimientosForm.idiomas.errors %}<span class="help-block">{{formConocimientosForm.idiomas.errors}}</span>{% endif %}
													</div>
												</div>

</div>


<div class="col-lg-6">
						<div class="form-group {% if formConocimientosForm.equipo.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">Maquinas y o Equipo de Oficina que sepa manejar:<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{formConocimientosForm.equipo}}
														{% if formConocimientosForm.equipo.errors %}<span class="help-block">{{formConocimientosForm.equipo.errors}}</span>{% endif %}
													</div>
												</div>

</div>


<div class="col-lg-6">
						<div class="form-group {% if formConocimientosForm.funciones.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">Funciones de Oficina que domine:<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{formConocimientosForm.funciones}}
														{% if formConocimientosForm.funciones.errors %}<span class="help-block">{{formConocimientosForm.funciones.errors}}</span>{% endif %}
													</div>
												</div>

</div>


<div class="col-lg-6">
						<div class="form-group {% if formConocimientosForm.otros.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">Otros Trabajos o Funciones que domine:<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{formConocimientosForm.otros}}
														{% if formConocimientosForm.otros.errors %}<span class="help-block">{{formConocimientosForm.otros.errors}}</span>{% endif %}
													</div>
												</div>

</div>

<div class="col-lg-6">
	&nbsp;
</div>
<div class="col-lg-6">
	&nbsp;
</div>
											
												
											<!--	
												<a href="{% url 'empleados.views.index' %}" class="btn default blue-stripe">
															<i class="glyphicon glyphicon-arrow-left"></i> Regresar
														</a>	
												-->
												
												

														<button type="submit" class="btn blue"><i class="fa fa-pencil"></i> {{action}}</button>													
														
																					
																			
										</form>	
								
  {% endblock %}



{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}plugins/select2/select2.js"></script>
{% endblock %}

{% block script_ready %}
	
	
	$('.date-picker').datepicker({
        rtl: Metronic.isRTL(),
        orientation: "auto",
        autoclose: true        
    });
    
{% endblock %}
