{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_pagination %}

{% block title %}Solicitudes{% endblock %}
{% block content_title %} Registro de Solicitudes{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}plugins/bootstrap-datepicker/css/datepicker3.css"/>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}plugins/select2/select2.css"/>
{% endblock %}

{% block nav-sol2 %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Solicitudes</a>						
	</li>	
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
							<div class="modal fade" id="ajax" role="basic" aria-hidden="true">
								<div class="page-loading page-loading-boxed">
									<img src="{{MEDIA_URL}}img/loading-spinner-grey.gif" alt="" class="loading">
									<span>
									&nbsp;&nbsp;Cargando... </span>
								</div>
								<div class="modal-dialog">
									<div class="modal-content">
									</div>
								</div>
							</div>
							<div class="modal fade" id="ajax2" role="basic" aria-hidden="true">
								<div class="page-loading page-loading-boxed">
									<img src="{{MEDIA_URL}}img/loading-spinner-grey.gif" alt="" class="loading">
									<span>
									&nbsp;&nbsp;Cargando... </span>
								</div>
								<div class="modal-dialog">
									<div class="modal-content">
									</div>
								</div>
							</div>

							<div class="row">	
								<div class="col-md-12">
									<div class="portlet box grey-cascade">
										<div class="portlet-title">
											<div class="caption">
								Solicitudes
							</div>							
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<a href="{% url 'solicitudes.views.agregar' %}" class="btn blue">
											Agregar Solicitud <i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
									<div class="col-md-6">
										
									</div>
								</div>
							</div>
							<div class="table-scrollable">
								<table class="table table-striped table-bordered table-hover" id="sample_1">
								<thead>
								<tr>
									<th>
										 Solicita
									</th>
									<th>
										 Beneficiario
									</th>
									<th>
										 Fecha
									</th>									
									<th>
										 Importe
									</th>
									<th>
										 Estatus
									</th>
									<th>
										 CartaPorte
									</th>
									<th>
										 Editar
									</th>
									
									
								</tr>
								</thead>
								<tbody>
								{% for Solicitudes in solics %}  <!-- Ofa es la class definida en Models y ofas es definido aqui miso -->
								<tr class="odd gradeX">
									<td>
										{{Solicitudes.solicitante}}  <!-- nombre del modelo en models.py + nombre del campo -->
									</td>
									<td>
										{{Solicitudes.beneficiario}}
									</td>
									<td>
										{{Solicitudes.fecha}}
									</td>									
									<td>
										 {{Solicitudes.importe}}
									</td>
									<td>
										 {{Solicitudes.status}}
									</td>
									<td>
										 {{Solicitudes.cartaporte}}
									</td>
									<td>
										<a class="btn default btn-xs blue-stripe">Editar</a>
									</td>
																
								</tr>
								{% empty %}
								<tr>
									<td colspan="6" class="center">No se encontrarón datos.</td>
								</tr>
								{% endfor %}							
								</tbody>
								</table>
								{% bootstrap_paginate solics %} <!-- "ofas" debe estar dado de alta en views.py -->
							</div>
						</div>
					</div>					
            </div>
         </div>
{% endblock %}

{% block script_ready %}
	$('body').on('hidden.bs.modal', '.modal', function () {
  		$(this).removeData('bs.modal');
	});
{% endblock %}
