{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_pagination %}

{% block title %}Aseguradoras{% endblock %}
{% block content_title %} Aseguradoras {% endblock %}

{% block nav-inventario %}<li class="active open">{% endblock %}
{% block nav-asegura %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Catalogos</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Aseguradoras</a>
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					Listado de aseguradoras
				</div>							
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								
								{% if perms.catalogos.add_aseguradoras %}
								<a href="{% url 'catalogos.views.aseguradoraadd' %}" class="btn blue">
									Agregar nuevo <i class="fa fa-plus"></i>
								</a> 
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Agregar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %} 
                            </div>
						</div>
						<div class="col-md-6">

						</div>
					</div>
				</div>
				<div class="table-scrollable">
					<table class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>
									Nombre
								</th>
								<th>
									Dirección
								</th>
								<th>
									Teléfono de Siniestro
								</th>
								<th>
									Editar
								</th>
								<th>
									Eliminar
								</th>								
							</tr>
						</thead>
						<tbody>
							{% for seg in aseguradoras %}
							<tr class="odd gradeX">
								<td>
									{{seg.nombre}}
								</td>
								<td>
									{{seg.direccion}}
								</td>
								<td>
									{{seg.telefono_siniestros}}
								</td>
								<td>
								{% if perms.catalogos.change_aseguradoras %}
									<a href="{% url 'catalogos.views.aseguradorasedit' seg.pk %}" class="btn default btn-xs blue-stripe">Editar</a>
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Editar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %}	
								</td>
								<td>
								{% if perms.catalogos.delete_aseguradoras %}
									<a href="{% url 'catalogos.views.aseguradoradelete' seg.pk %}" onclick="return confirm('Seguro que desea eliminar la aseguradora {{seg.nombre}}?')" class="btn default btn-xs red-stripe">Eliminar</a>
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Eliminar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %}
								</td>
							</tr>
							{% endfor %}							
						</tbody>
					</table>
					{% bootstrap_paginate aseguradoras %}
				</div>
			</div>
		</div>					
	</div>
</div>
{% endblock %}