{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{{action}} Caseta{% endblock %}
{% block content_title %} Catálogo de Casetas {% endblock %}

{% block nav-catalogos %}<li class="active open">{% endblock %}
{% block nav-casetas %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Catalogos</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="{% url 'catalogos.views.casetas' %}">Casetas</a>	
		<i class="fa fa-angle-right"></i>						
	</li>
	<li>
		<a href="#">{{action}}</a>
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
		<div class="row">
            <div class="col-md-12">
								<div class="portlet light bg-inverse form-fit">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-equalizer font-blue"></i>
											<span class="caption-subject font-blue bold uppercase">{{action}} Caseta</span>											
										</div>										
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form action="" class="form-horizontal form-row-seperated" method="post">
											{% csrf_token %}
											<div class="form-body">
												<div class="form-group {% if form.via.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.via.label}}<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.via}}
														{% if form.via.errors %}<span class="help-block">{{form.via.errors}}</span>{% endif %}
													</div>
												</div>																								
												<div class="form-group {% if form.autos.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.autos.label}}<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.autos}}
														{% if form.autos.errors %}<span class="help-block">{{form.autos.errors}}</span>{% endif %}
													</div>
												</div>	
												<div class="form-group {% if form.autobus_2_ejes.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">2 Ejes<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.autobus_2_ejes}}
														{% if form.autobus_2_ejes.errors %}<span class="help-block">{{form.autobus_2_ejes.errors}}</span>{% endif %}
													</div>
												</div>																					
											</div>
											<div class="form-actions">
												<div class="row">
													<div class="col-md-offset-3 col-md-9">
														<button type="submit" class="btn blue"><i class="fa fa-pencil"></i> {{action}}</button>														
													</div>
												</div>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								</div>
            </div>
         </div>
{% endblock %}