{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_pagination %}

{% block title %}Modelos{% endblock %}
{% block content_title %} Modelos de Camionetas {% endblock %}

{% block nav-inventario %}<li class="active open">{% endblock %}
{% block nav-modeconomicos %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Catalogos</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Modelos</a>							
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box grey-cascade">
			<div class="portlet-title">
				<div class="caption">
					Listado de modelos disponibles
				</div>							
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-6">
							<div class="btn-group">
								
								{% if perms.catalogos.add_modeloeconomico %}
								<a href="{% url 'catalogos.views.modelosadd' %}" class="btn blue">
									Agregar nuevo <i class="fa fa-plus"></i>
								</a> 
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Agregar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %} 
                            </div>
						</div>
						<div class="col-md-6">

						</div>
					</div>
				</div>
				<div class="table-scrollable">
					<table class="table table-striped table-bordered table-hover" id="sample_1">
						<thead>
							<tr>
								<th>
									Modelo
								</th>
								<th>
									Capacidad (Tarimas)
								</th>
								<th>
								    Capacidad (Kilos)
								</th>
								<th>
									Volumen
								</th>
								<th>
									Editar
								</th>
								<th>
									Eliminar
								</th>								
							</tr>
						</thead>
						<tbody>
							{% for modelo in modelos %}
							<tr class="odd gradeX">
								<td>
									{{modelo.modelo}}
								</td>
								<td>
									{{modelo.capacidad}}
								</td>
								<td>
								    {{modelo.capacidad_kilos}}
								</td>
								<td>
								    {{modelo.capacidad_volumen}}
								</td>
								<td>
								{% if perms.catalogos.change_modeloeconomico %}
									<a href="{% url 'catalogos.views.modelosedit' modelo.pk %}" class="btn default btn-xs blue-stripe">Editar</a> 
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Editar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %}	
								</td>
								<td>
								{% if perms.catalogos.delete_modeloeconomico %}
									<a href="{% url 'catalogos.views.modelosdelete' modelo.pk %}" onclick="return confirm('Seguro que desea eliminar el modelo {{modelo.modelo}}?')" class="btn default btn-xs red-stripe">Eliminar</a>
								{% else %}
								<div class="alert alert-dismissable alert-danger">
									<button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
									{{user.get_short_name}} no tiene permisos para Eliminar.<br/> Solicite permisos al administrador.
								</div>
								{% endif %}
								</td>
							</tr>
							{% endfor %}							
						</tbody>
					</table>
					{% bootstrap_paginate modelos %}
				</div>
			</div>
		</div>					
	</div>
</div>
{% endblock %}