{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{{action}} Operador{% endblock %}
{% block content_title %} Catálogo de Operadores {% endblock %}

{% block nav-catalogos %}<li class="active open">{% endblock %}
{% block nav-operadores %}<li class="active">{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="#">Catalogos</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>		
		<a href="{% url 'catalogos.views.operadores' %}">Operadores</a>	
		<i class="fa fa-angle-right"></i>						
	</li>
	<li>
		<a href="#">{{action}}</a>
	</li>
</ul>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
		<div class="row">
            <div class="col-md-12">
								<div class="portlet light bg-inverse form-fit">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-equalizer font-blue"></i>
											<span class="caption-subject font-blue bold uppercase">{{action}} Operador</span>											
										</div>										
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form action="" class="form-horizontal form-row-seperated" method="post">
											{% csrf_token %}
											<div class="form-body">
												<div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.nombre.label}}<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.nombre}}
														{% if form.nombre.errors %}<span class="help-block">{{form.nombre.errors}}</span>{% endif %}
													</div>
												</div>
												<div class="form-group {% if form.apellido_paterno.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.apellido_paterno.label}}<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														{{form.apellido_paterno}}
														{% if form.apellido_paterno.errors %}<span class="help-block">{{form.apellido_paterno.errors}}</span>{% endif %}
													</div>
												</div>
												<div class="form-group {% if form.apellido_materno.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.apellido_materno.label}}</label>
													<div class="col-md-9">
														{{form.apellido_materno}}
														{% if form.apellido_materno.errors %}<span class="help-block">{{form.apellido_materno.errors}}</span>{% endif %}
													</div>
												</div>
												<div class="form-group {% if form.telefono.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.telefono.label}}</label>
													<div class="col-md-9">
														{{form.telefono}}
														{% if form.telefono.errors %}<span class="help-block">{{form.telefono.errors}}</span>{% endif %}
													</div>
												</div>
												<div class="form-group {% if form.saldo.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.saldo.label}}</label>
													<div class="col-md-9">
														{{form.saldo}}
														{% if form.saldo.errors %}<span class="help-block">{{form.saldo.errors}}</span>{% endif %}
													</div>
												</div>
												<div class="form-group {% if form.saldo_observaciones.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.saldo_observaciones.label}}</label>
													<div class="col-md-9">
														{{form.saldo_observaciones}}
														{% if form.saldo_observaciones.errors %}<span class="help-block">{{form.saldo_observaciones.errors}}</span>{% endif %}
													</div>
												</div>
												<div class="form-group {% if form.activo.errors %}has-error{% endif %}">
													<label class="control-label col-md-3">{{form.activo.label}}<span class="required" aria-required="true"> * </span></label>
													<div class="col-md-9">
														<div class="checkbox-list" data-error-container="#form_2_services_error">
														<label>
														{{form.activo}} Si
														</div>
														{% if form.activo.errors %}<span class="help-block">{{form.activo.errors}}</span>{% endif %}
													</div>
												</div>												
											</div>
											<div class="form-actions">
												<div class="row">
													<div class="col-md-offset-3 col-md-9">
														<button type="submit" class="btn blue"><i class="fa fa-pencil"></i> {{action}}</button>														
													</div>
												</div>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								</div>
            </div>
         </div>
{% endblock %}