{% load i18n %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>{% block title %}{% endblock %} - Logística Vitesse</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{{MEDIA_URL}}css/components.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="{{MEDIA_URL}}css/themes/blue.css" rel="stylesheet" type="text/css"/>
<link href="{{MEDIA_URL}}css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
{% block extra_head %}{% endblock %} 
<link rel="shortcut icon" href="{{MEDIA_URL}}favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-fixed page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="/">
			<img src="{{MEDIA_URL}}img/logo.png" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">			
			<ul class="nav navbar-nav pull-right">
				{% comment %}
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="icon-bell"></i>
					
					</a>
					<ul class="dropdown-menu">
						<li>
							<p>
								 You have 14 new notifications
							</p>
						</li>
						<li>
							<ul class="dropdown-menu-list scroller" style="height: 250px;">
								<li>
									<a href="#">
									<span class="label label-sm label-icon label-success">
									<i class="fa fa-plus"></i>
									</span>
									New user registered. <span class="time">
									Just now </span>
									</a>
								</li>								
							</ul>
						</li>						
					</ul>
				</li>
				<!-- END NOTIFICATION DROPDOWN -->	
				{% endcomment %}			
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">					
					<span class="username">
					{{user.get_short_name}} </span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{% url 'cuentas.views.perfil' %}">
							<i class="icon-user"></i> Mis Datos </a>
						</li>			
						<li>
							<a href="{% url 'django.contrib.auth.views.password_change' %}">
							<i class="icon-key"></i> Cambiar Contraseña </a>
						</li>			
						<li>
							<a href="{% url 'django.contrib.auth.views.logout_then_login' %}">
							<i class="icon-logout"></i> Salir </a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->				
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			{% if client.groups == 'Cliente' %}			
			<!-- CLIENT MENU -->
			
			{% else %}			
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->				
				{% block nav-dashboard %}<li class="start ">{% endblock %}
					<a href="{% url 'dashboards.views.index' %}">
					<i class="icon-home"></i>
					<span class="title">Dashboard</span>
					</a>					
				</li>
				{% block nav-solicitudes %}<li>{% endblock %}
					<a href="#">
					<i class="icon-basket"></i>
					<span class="title">Solicitudes</span>
					</a>					
				</li>				
				{% block nav-catalogos %}<li>{% endblock %}
					<a href="javascript:;">
					<i class="icon-settings"></i>
					<span class="title">Catalogos</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						{% block nav-modeconomicos %}<li>{% endblock %}
							<a href="{% url 'catalogos.views.modelos' %}">
							Modelos de Economicos</a>
						</li>							
						{% block nav-economicos %}<li>{% endblock %}
							<a href="{% url 'catalogos.views.economicos' %}">
							Economicos</a>
						</li>
						{% block nav-operadores %}<li>{% endblock %}
							<a href="{% url 'catalogos.views.operadores' %}">
							Operadores</a>
						</li>
						{% block nav-casetas %}<li>{% endblock %}
							<a href="{% url 'catalogos.views.casetas' %}">
							Casetas</a>
						</li>
						{% block nav-gastos %}<li>{% endblock %}
							<a href="{% url 'catalogos.views.gastos' %}">
							Gastos</a>
						</li>		
						{% block nav-factconceptos %}<li>{% endblock %}
							<a href="{% url 'catalogos.views.conceptos' %}">
							Conceptos facturación</a>
						</li>	
					</ul>
				</li>
				{% block nav-rutas %}<li>{% endblock %}
					<a href="{% url 'viajes.views.rutas' %}">
					<i class="icon-pointer"></i>
					<span class="title">Rutas</span>					
					</a>					
				</li>
				{% block nav-clientes %}<li>{% endblock %}
					<a href="{% url 'clientes.views.index' %}">
					<i class="icon-briefcase"></i>
					<span class="title">Clientes</span>					
					</a>					
				</li>
				{% block nav-usuarios %}<li>{% endblock %}
					<a href="{% url 'cuentas.views.usuarios' %}">
					<i class="icon-user"></i>
					<span class="title">Usuarios</span>					
					</a>
				</li>
				{% block nav-viajes %}<li>{% endblock %}
					<a href="{% url 'viajes.views.index' %}">
					<i class="icon-rocket"></i>
					<span class="title">Viajes</span>					
					</a>					
				</li>
				{% block nav-reportes %}<li>{% endblock %}
					<a href="{% url 'viajes.views.reportes' %}">
					<i class="icon-layers"></i>
					<span class="title">Reportes</span>					
					</a>					
				</li>					
			</ul>
			{% endif %}
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->			
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
				{% block content_title %}{% endblock %}
			</h3>
			<div class="page-bar">
				{% block breadcrumb %}
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#">Dashboard</a>						
					</li>
				</ul>
				{% endblock %}
				{% block actions %}
				<div class="page-toolbar">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
						Acciones <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li>
								<a href="#">Action</a>
							</li>
							<li>
								<a href="#">Another action</a>
							</li>
							<li>
								<a href="#">Something else here</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="#">Separated link</a>
							</li>
						</ul>
					</div>
				</div>
				{% endblock %}
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
	            <div class="col-md-12">
	            	{% if messages %}
						{% for message in messages %}
						<div class="alert alert-dismissable {% if message.tags %}{{ message.tags }}{% endif %}">
		                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
		                    {{message}}
		                 </div>
						{% endfor %}
					{% endif %}            	               
	            </div>
	         </div>
         
         	{% block content %}{% endblock %}
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->	
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2014 &copy; Logística Vitesse.
	</div>
	<div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{MEDIA_URL}}plugins/respond.min.js"></script>
<script src="{{MEDIA_URL}}plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="{{MEDIA_URL}}plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{MEDIA_URL}}plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="{{MEDIA_URL}}scripts/metronic.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}scripts/layout.js" type="text/javascript"></script>
{% block extra_script %}{% endblock %}
<script>
jQuery(document).ready(function() {    
   Metronic.init(); // init metronic core components
	Layout.init(); // init current layout	
	{% block script_ready %}{% endblock %}
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>