<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">{{action}} Departamento</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bg-inverse form-fit">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-blue"></i>
						<span class="caption-subject font-blue bold uppercase">{{action}} Departamento</span>
					</div>
				</div>
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form action="" class="form-horizontal form-row-seperated" method="post" id="departamentoform">
						{% csrf_token %}
						<div class="form-body">
							<div class="form-group {% if form.departamento.errors %}has-error{% endif %}">
								<label class="control-label col-md-3">{{form.departamento.label}}<span class="required" aria-required="true"> * </span></label>
								<div class="col-md-9">
									{{form.departamento}}
									{% if form.departamento.errors %}<span class="help-block">{{form.departamento.errors}}</span>{% endif %}
								</div>
							</div>
							<div class="form-group {% if form.activo.errors %}has-error{% endif %}">
								<label class="control-label col-md-3">{{form.activo.label}}<span class="required" aria-required="true"> * </span></label>
								<div class="col-md-9">
									<div class="checkbox-list" data-error-container="#form_2_services_error">
									<label>
									{{form.activo}} Si
									</div>
									{% if form.activo.errors %}<span class="help-block">{{form.activo.errors}}</span>{% endif %}
								</div>
							</div>		
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="button" class="btn default" data-dismiss="modal">
										Cerrar
									</button>
									<button type="submit" class="btn blue">
										<i class="fa fa-pencil"></i> {{action}}
									</button>
								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
	{% if action == 'Agregar' %}
	var post_url = '{% url 'clientes.views.departamentoadd' cliente.pk %}';
	{% else %}
	var post_url = '{% url 'clientes.views.departamentoedit' departamento.pk  %}';
	{% endif %}
	
	$('#departamentoform').submit(function(event){		
		event.preventDefault();
		console.log(post_url);
		$.post(post_url, $('#departamentoform').serialize(), function(data){
				if(data.status=='OK'){
					if($('#tr'+data.id).length > 0){
						$('#tr'+data.id).empty();
						$('#tr'+data.id).append('<td>'+data.departamento+'</td><td><i class="glyphicon glyphicon-ok font-green"></i></td><td><a href="/clientes/departamentos/edit/'+data.id+'/" class="btn default btn-xs blue-stripe" data-target="#ajax2" data-toggle="modal">Editar</a></td>');
					}else{
						$('#departamentos_table').append('<tr><td>'+data.departamento+'</td><td><i class="glyphicon glyphicon-ok font-green"></i></td><td><a href="/clientes/departamentos/edit/'+data.id+'/" class="btn default btn-xs blue-stripe" data-target="#ajax2" data-toggle="modal">Editar</a></td></tr>');
					}					
					$('#ajax2').modal('hide');
				}else{
					$('#ajax2').find('.modal-content').html(data.html);
				}
		});
	});
</script>