{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{{action}} Asignación de Ingresos y Egresos{% endblock %}
{% block content_title %} Registro de Ingresos y Egresos {% endblock %}
{% block nav-repAgre %}<li class="active">{% endblock %}
{% block breadcrumb %}
<ul class="page-breadcrumb">
	<li>
		<i class="fa fa-home"></i>
		<a href="{% url 'dashboards.views.index' %}">Dashboard</a>	
		<i class="fa fa-angle-right"></i>					
	</li>
	<li>
		<i class="fa fa-money"></i>		
		<a href="">NOMINA ENERO 2016 SIN IMPUESTO</a>
								
	</li>
	
</ul>
{% endblock %}
{% block actions %}
{% endblock %}
{% block content %}
<div class="portlet box grey-cascade">
	<div style=" text-align:center; font-size: 20px; font-family: 'Open Sans',sans-serif; color:white;">
										<div class="portlet-title">
											<div class="caption" >
								
							</div>							
						</div>
						</div>
<style type="text/css">ul{list-style:none;}</style>
<div class="row">
	<div class="col-md-12">
		<div class="portlet light bg-inverse form-fit">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-equalizer font-blue"></i>
					<span class="caption-subject font-blue bold uppercase"> NOMINA ENERO 2016 SIN IMPUESTO </span>	
				</div>										
			</div>

			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="" class="form-horizontal form-row-seperated" method="post" name="Per">
					{% csrf_token %}
					<div class="form-body">
						
						<div class="form-group ">
							<label class="control-label col-md-2">Mes: <span class="required" aria-required="true"> * </span></label>
							<div class="col-md-9">
								{{form.mes}}{{form.idRep}}
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-md-2">Operador : <span class="required" aria-required="true"> * </span></label>
							<div class="col-md-9">
								{{form.operador}}	
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">Administrativo : <span class="required" aria-required="true"> * </span></label>
							<div class="col-md-9">
								{{form.administrativo}}	
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2">Total : <span class="required" aria-required="true"> * </span></label>
							<div class="col-md-9">
								{{form.total}}	
							</div>
						</div>
						
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-2 col-md-9">
									<button type="submit" class="btn blue"><i class="fa fa-pencil"></i> Continuar  </button>														
								</div>
							</div>

							
							
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script_ready %}
$('#id_idRep').hide();
{% endblock %}